---
export interface Props {}
---

<div>
    <slot />
</div>

<style>
    div {
        display: flex;
        /* margin: 0; */
        height: 100%;
        gap: 45px;
        justify-content: space-between;
    }

    @media screen and (max-width: 800px) {
        div {
            flex-wrap: wrap;
        }
    }
</style>
