---
export interface Props {}
---

<div>
    <slot />
</div>

<style lang="scss">
    @import "../../styles/variables.scss";
    div {
        display: flex;
        /* margin: 0; */
        height: 100%;
        gap: 45px;
        justify-content: space-between;

        @media screen and (max-width: $breakWidth) {
            flex-wrap: wrap;
        }
    }
</style>
