assets/images/paintings/06-2022+gentle,+or+loving,+or+tender.jpg filter=lfs diff=lfs merge=lfs -text
assets/images/paintings/08-2022+Venus+and+Mars+(2022_08_21+19_28_20+UTC).jpg filter=lfs diff=lfs merge=lfs -text
assets/images/paintings/10-Saffron+paintingps3.jpg filter=lfs diff=lfs merge=lfs -text
assets/images/frontpage/venus.jpg filter=lfs diff=lfs merge=lfs -text
assets/images/paintings/05-2022+Eden.jpg filter=lfs diff=lfs merge=lfs -text
assets/images/paintings/02-2021+Angus+in+His+Favourite+Shirt.jpg filter=lfs diff=lfs merge=lfs -text
assets/images/paintings/03-A246C5D2-7517-4521-91F0-A657F46BDE49.jpg filter=lfs diff=lfs merge=lfs -text
assets/images/about/paper.jpg filter=lfs diff=lfs merge=lfs -text
assets/images/frontpage/falling.jpg filter=lfs diff=lfs merge=lfs -text
assets/images/paintings/09-2022+Crossing+the+Water.jpeg filter=lfs diff=lfs merge=lfs -text
assets/images/drawings/01-2022+Lychee+Study.jpeg filter=lfs diff=lfs merge=lfs -text
assets/images/paintings/01-2022+Lychee+Study.jpeg filter=lfs diff=lfs merge=lfs -text
assets/images/paintings/04-IMG_8751.jpeg filter=lfs diff=lfs merge=lfs -text
assets/images/paintings/07-Ablutions+2022+new+edit+(1).jpeg filter=lfs diff=lfs merge=lfs -text
