---
import Layout, { instagramUrl } from "../layouts/Layout.astro"
import ObscuredEmail from "../components/obscured-email/ObscuredEmail.astro"
import { Image } from "astro:assets"
import Link from "../components/link/Link.astro"

const image = (await Astro.glob("../../assets/images/about/paper.jpg")).map(
    (image) => image.default as ImageMetadata
)[0]
const imageAltText = "Saffron painting"
const newsletterUrl =
    "https://mailchi.mp/c756cb9c930b/sign-up-for-my-newsletter"

const about = (await Astro.glob("../markdown/about.md"))[0]
---

<Layout title="About">
    <main>
        <div class="aboutText">
            <about.Content />
            <p>
                <ObscuredEmail email="saffronmurraybrowne@gmail.com" />
            </p>
            <p>
                <Link href={instagramUrl}>@saffronmurraybrowne</Link>
            </p>
            <p>
                <Link href={newsletterUrl}>
                    Sign up for my occasional newsletter to hear about upcoming
                    exhibitions.
                </Link>
            </p>
        </div>
        <Image src={image} alt={imageAltText} />
    </main>
</Layout>

<style lang="scss">
    @import "../styles/variables.scss";
    main {
        // width: 100%;
        display: flex;
        flex-wrap: nowrap;
        // flex-direction: row;
        justify-content: space-between;
        gap: 32px;

        font-family: merriweather;
        @media (max-width: $breakWidth) {
            flex-wrap: wrap;
        }
    }

    .aboutText {
        // display: block;
        width: 100%;
        padding: 0 48px 48px;
        /* height: 100%; */
    }

    p {
        padding-bottom: 32px;
    }

    img {
        // display: block;
        width: 100%;
        height: 100%;
        object-position: 50% 50%;
        object-fit: cover;
    }
</style>
