---
import Layout from "../layouts/Layout.astro"
import CardHolder from "../components/frontpage-card/CardHolder.astro"
import Card from "../components/frontpage-card/Card.astro"

const paintingImage = (
    await Astro.glob("../../assets/images/frontpage/venus.jpg")
).map((image) => image.default as ImageMetadata)[0]

const drawingImage = (
    await Astro.glob("../../assets/images/frontpage/falling.jpg")
).map((image) => image.default as ImageMetadata)[0]
---

<Layout title="">
    <main>
        <CardHolder>
            <Card
                image={paintingImage}
                text="Paintings"
                href="/portfolio/paintings"
            />
            <Card
                image={drawingImage}
                text="Drawings"
                href="/portfolio/drawings"
            />
        </CardHolder>
    </main>
</Layout>

<style>
    main {
        width: 100%;
        /* padding: 45px; */
        box-sizing: border-box;
    }

    /* @media screen & {
    } */
</style>
