---
import Layout from "../layouts/Layout.astro"
import CardHolder from "../components/frontpage-card/CardHolder.astro"
import Card from "../components/frontpage-card/Card.astro"
---

<Layout title="">
    <main>
        <CardHolder>
            <Card
                image="https://images.squarespace-cdn.com/content/v1/60eb57465212723ac6fbb037/1670428066870-48WZ7RJAUOYCU1DATUOI/2022+Venus+and+Mars+%282022_08_21+19_28_20+UTC%29+copy.jpg"
                text="Paintings"
                href="/portfolio/paintings"
            />
            <Card
                image="https://images.squarespace-cdn.com/content/v1/60eb57465212723ac6fbb037/1626097831102-YQ1JB4XACGM0JL50D9YM/img214.jpg"
                text="Drawings"
                href="/portfolio/drawings"
            />
        </CardHolder>
    </main>
</Layout>

<style>
    main {
        width: 100%;
        /* padding: 45px; */
        box-sizing: border-box;
    }

    /* @media screen & {
    } */
</style>
