---
import { colors } from "../../styles/colors"
export interface Props {
    href: string
    text: string
}

const { href, text } = Astro.props
console.log(colors)
let underline = false
if (Astro.url.pathname === href) {
    underline = true
}
---

<li>
    <a class={underline ? "underline" : ""} href={href}>{text}</a>
</li>

<style define:vars={{ ...colors }}>
    li {
        list-style-type: none;
        padding-left: 32px;
        /* padding-top: 32px; */
    }

    .underline {
        border-bottom: 1px solid var(--navbarText);
    }

    a {
        padding-bottom: 4px;
        text-decoration: none;
        color: var(--navbarText);
        font-size: 1.1em;
        font-weight: 100;
        font-family: merriweather;
    }
</style>
