---
import Basic from "./hamburgers/Basic.astro"
---

<nav>
    <slot name="logo" />
    <ul>
        <slot name="navItem" />

        <div class="social">
            <slot name="social" />
        </div>
        <slot />
    </ul>
    <slot name="hamburger">
        <Basic />
    </slot>
</nav>

<style lang="scss">
    @import "../../styles/variables.scss";

    nav {
        padding: 48px 0 64px;
        display: flex;
        justify-content: space-between;
    }

    ul {
        display: flex;
        margin: 0;

        .social {
            display: flex;
            margin-left: 2em;
        }
    }

    @media screen and (max-width: $breakWidth) {
        body {
            // background-color: olive;
        }

        nav {
            flex-wrap: wrap;
        }

        ul {
            display: none;
            font-size: 2rem;

            width: 100%;
            overflow: hidden;
        }

        :global(body.navOpen) {
            height: 100vh;
            overflow: hidden;
        }

        :global(.navOpen) ul {
            padding: 48px 0;
            height: 100vh;
            width: 100vw;

            display: flex;
            flex-direction: column;
            align-content: center;
            align-items: center;

            .social {
                margin-left: 0;

                position: absolute;
                bottom: 2em;
                left: calc(50vw-auto);
            }
        }
    }
</style>
