<nav>
    <slot name="Logo" />
    <ul>
        <slot name="NavItem" />
        <slot />
    </ul>
</nav>

<style>
    nav {
        padding: 48px 0 64px;
        display: flex;
        justify-content: space-between;
        /* align-content: flex-start; */
    }

    ul {
        display: flex;
        margin: 0;
        /* padding: 1; */
    }
</style>
