---
export interface Props {
    href: string
    text: string
    additionalUnderlinePaths?: string[]
}

const { href, text, additionalUnderlinePaths } = Astro.props

let underline = false
if (Astro.url.pathname === href) {
    underline = true
}
if (additionalUnderlinePaths) {
    for (const path of additionalUnderlinePaths) {
        if (Astro.url.pathname === path) {
            underline = true
        }
    }
}
---

<li>
    <a class={underline ? "underline" : "nounder"} href={href}>{text}</a>
</li>

<style lang="scss">
    @import "../../styles/variables.scss";
    li {
        list-style-type: none;
        padding-left: 32px;
        /* padding-top: 32px; */
    }

    .underline {
        border-bottom: 1px solid $navbarTextColor;
    }

    a {
        padding-bottom: 4px;
        text-decoration: none;
        color: $navbarTextColor;
        font-size: 1.1em;
        font-weight: 100;
        font-family: merriweather;
    }
    @media screen and (max-width: 600px) {
        li {
            display: flex;

            line-height: 4rem;
            text-align: center;
            padding-left: 0;
        }
    }
</style>
