---
import "@fontsource/merriweather"
import NavigationBar from "../components/navbar/NavigationBar.astro"
import Logo from "../components/navbar/Logo.astro"
import NavItem from "../components/navbar/NavItem.astro"
import "../styles/variables.scss"
import Facebook from "../components/social/facebook/facebook.astro"
import Instagram from "../components/social/instagram/insta.astro"
export interface Props {
    title: string
}

const { title } = Astro.props

const fullTitle = title
    ? `${title} | Saffron Murray-Browne`
    : `Saffron Murray-Browne`
---

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{fullTitle}</title>
    </head>
    <body>
        <NavigationBar>
            <Logo slot="logo" text="Saffron Murray-Browne" />
            <NavItem
                slot="navItem"
                href="/"
                text="Portfolio"
                additionalUnderlinePaths={[
                    "/portfolio/paintings",
                    "/portfolio/drawings",
                ]}
            />
            <NavItem slot="navItem" href="/about" text="About" />
            <NavItem slot="navItem" href="/shop" text="Shop" />
            <Facebook slot="social" href="https://facebook.com/saffronmbart" />
            <Instagram
                slot="social"
                href="https://instagram.com/saffronmurraybrowne"
            />
        </NavigationBar>
        <slot />
    </body>
</html>

<style is:global lang="scss">
    @import "../styles/variables.scss";

    html,
    body {
        width: 100%;
        // height: 100%;
        /* box-sizing: content-box; */
        margin: 0;
        padding: 0;
        font-family: merriweather, arial;
        line-height: 2.2rem;
        overflow-x: hidden;
    }
    body {
        width: 100%;
        box-sizing: border-box;
        // height: 100%;
        // margin: 0;
        padding: 0 48px 48px;

        @media (max-width: $breakWidth) {
            padding: 32px;
        }
    }

    a {
        color: $linkColor;
    }

    /* My CSS */
</style>
