---
import ImageGrid from "../../components/image-grid/ImageGrid.astro"
import Layout from "../../layouts/Layout.astro"
const images = (await Astro.glob("../../../assets/images/drawings/*")).map(
    (image) => image.default.src as string
)
// console.log(images)
---

<Layout title="Drawings">
    <main>
        <ImageGrid images={images} />
    </main>
</Layout>
