---
import GridItem from "../../components/image-grid/GridItem.astro"
import ImageGrid from "../../components/image-grid/ImageGrid.astro"
import Layout from "../../layouts/Layout.astro"

const images = (await Astro.glob("../../../assets/images/drawings/*")).map(
    (image) => image.default as ImageMetadata
)
//
---

<Layout title="Drawings">
    <main>
        <ImageGrid>
            {images.map((image) => <GridItem src={image} alt="" />)}
        </ImageGrid>
    </main>
</Layout>
