---
import ImageGrid from "../../components/image-grid/ImageGrid.astro"
import Layout from "../../layouts/Layout.astro"
const images = (await Astro.glob("../../../assets/images/paintings/*"))
    .map((image) => image.default.src as string)
    .reverse()
// console.log(images)
---

<Layout title="Paintings">
    <main>
        <ImageGrid images={images} />
    </main>
</Layout>
