---
import GridItem from "../../components/image-grid/GridItem.astro"
import ImageGrid from "../../components/image-grid/ImageGrid.astro"
import Layout from "../../layouts/Layout.astro"
import { Image } from "astro:assets"
const images = (await Astro.glob("../../../assets/images/paintings/*"))
    .map((image) => image.default as ImageMetadata)
    .reverse()
// console.log(images)
---

<Layout title="Paintings">
    <main>
        <ImageGrid>
            {images.map((image) => <GridItem src={image} alt="" />)}
        </ImageGrid>
    </main>
</Layout>
